/* Formatações Gerais */
body{
    background: black;
}
/* Formatação cabeçalho */
header{
    background: white;
}
/* Formatação conteúdo */
h2{
    color: greenyellow;
}
p{
    color: white;
}
hr{
    
    border: 1px solid white;
}
/* Formatação Rodapé */
footer{
    background: green;
}




@media (max-width: 575.98px) {
    button{
        margin-bottom: 20px;
    }
    .sumirEmTelasPequenas{
        display: none;
    }
    
    
}


@media (min-width: 576px) and (max-width: 767.98px) {
    button{
        margin-bottom: 20px;
    }
    .sumirEmTelasPequenas{
        display: none;
    }
    
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .sumirEmtelasGrandes{
        display: none;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .sumirEmtelasGrandes{
        display: none;
    }
}


@media (min-width: 1200px) {
    .sumirEmtelasGrandes{
        display: none;
    }
}